# lightning.pytorch==2.5.5
seed_everything: 42
trainer:
  accelerator: auto
  strategy: auto
  devices: auto
  num_nodes: 1
  precision: null
  logger:
    class_path: lightning.pytorch.loggers.WandbLogger
    init_args:
      name: StrokeFormer3D-baseline
      save_dir: .
      version: null
      offline: true
      dir: null
      id: null
      anonymous: null
      project: StrokeFormer
      log_model: false
      experiment: null
      prefix: ''
      checkpoint_name: null
      entity: neurone-lab
      notes: null
      tags: null
      config: null
      config_exclude_keys: null
      config_include_keys: null
      allow_val_change: null
      group: null
      job_type: null
      mode: null
      force: null
      reinit: null
      resume: null
      resume_from: null
      fork_from: null
      save_code: null
      tensorboard: null
      sync_tensorboard: null
      monitor_gym: null
      settings: null
  callbacks:
  - class_path: callbacks.LogPredictionCallback
    init_args:
      num_images: 1
      log_every_n_val_epochs: 1
      slices_per_scan: 20
  - class_path: lightning.pytorch.callbacks.LearningRateMonitor
    init_args:
      logging_interval: epoch
      log_momentum: false
      log_weight_decay: false
  - class_path: lightning.pytorch.callbacks.EarlyStopping
    init_args:
      monitor: val_loss
      min_delta: 0.001
      patience: 25
      verbose: true
      mode: min
      strict: true
      check_finite: true
      stopping_threshold: null
      divergence_threshold: null
      check_on_train_epoch_end: false
      log_rank_zero_only: false
  - class_path: lightning.pytorch.callbacks.ModelCheckpoint
    init_args:
      dirpath: null
      filename: StrokeFormer3D-baseline-{epoch:02d}-{val_loss:.2f}
      monitor: val_loss
      verbose: true
      save_last: null
      save_top_k: 1
      save_on_exception: false
      save_weights_only: false
      mode: min
      auto_insert_metric_name: true
      every_n_train_steps: null
      train_time_interval: null
      every_n_epochs: null
      save_on_train_epoch_end: true
      enable_version_counter: true
  fast_dev_run: false
  max_epochs: 250
  min_epochs: null
  max_steps: -1
  min_steps: null
  max_time: null
  limit_train_batches: null
  limit_val_batches: null
  limit_test_batches: null
  limit_predict_batches: null
  overfit_batches: 0.0
  val_check_interval: null
  check_val_every_n_epoch: 1
  num_sanity_val_steps: null
  log_every_n_steps: null
  enable_checkpointing: null
  enable_progress_bar: null
  enable_model_summary: null
  accumulate_grad_batches: 1
  gradient_clip_val: null
  gradient_clip_algorithm: null
  deterministic: null
  benchmark: null
  inference_mode: true
  use_distributed_sampler: true
  profiler: null
  detect_anomaly: false
  barebones: false
  plugins: null
  sync_batchnorm: false
  reload_dataloaders_every_n_epochs: 0
  default_root_dir: strokeformer
  model_registry: null
model:
  segmentation_loss: DiceLoss
  segmentation_loss_config: {}
  prediction_loss: BCEWithLogitsLoss
  prediction_loss_config: {}
  weights:
  - 0.5
  - 0.5
  reduction: mean
  num_classes: 1
  in_channels: 1
  betas:
  - 0.9
  - 0.999
  eps: 1.0e-08
  lr: 0.0004
  init_lr: 4.0e-06
  warmup_steps: 10
  lr_scheduler_interval: epoch
  weight_decay: 0.001
data:
  paths:
    train:
      scans: data/ATLAS_2/Processed/Scans
      masks: data/ATLAS_2/Processed/Masks
    val:
      scans: data/ATLAS_2/Processed/Scans
      masks: data/ATLAS_2/Processed/Masks
  ext: .npy
  scan_dim:
  - 1
  - 189
  - 192
  - 192
  subvolume_dim: 128
  overlap: 0.5
  resize_to:
  - 128
  - 128
  transforms: null
  augment: false
  batch_size: 8
  num_workers: 0
optimizer: null
lr_scheduler: null
ckpt_path: null
